[submodule "tpl/poopdetector"]
	path = tpl/poopdetector
	url = https://github.com/Erotemic/poopdetector.git
[submodule "tpl/YOLOX"]
	path = tpl/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
[submodule "tpl/poop_models"]
	path = tpl/poop_models
	url = https://github.com/Erotemic/poop_models.git
[submodule "tpl/DEIMv2"]
	path = tpl/DEIMv2
	url = https://github.com/Intellindust-AI-Lab/DEIMv2.git
[submodule "tpl/segment-anything-2"]
	path = tpl/segment-anything-2
	url = https://github.com/fal-ai/segment-anything-2.git
[submodule "tpl/MaskDINO"]
	path = tpl/MaskDINO
	url = https://github.com/IDEA-Research/MaskDINO.git
[submodule "tpl/Open-GroundingDino"]
	path = tpl/Open-GroundingDino
	url = git@github.com:Erotemic/Open-GroundingDino.git
	branch = shitspotter
[submodule "tpl/YOLO-v9"]
	path = tpl/YOLO-v9
	url = git@github.com:Erotemic/YOLO.git
	branch = shitspotter
