[submodule "tpl/poopdetector"]
	path = tpl/poopdetector
	url = git@github.com:mkorzunowicz/poopdetector.git
[submodule "tpl/YOLOX"]
	path = tpl/YOLOX
	url = https://github.com/Megvii-BaseDetection/YOLOX.git
[submodule "tpl/poop_models"]
	path = tpl/poop_models
	url = git@github.com:Erotemic/poop_models.git
