[submodule "tpl/poopdetector"]
	path = tpl/poopdetector
	url = https://github.com/Erotemic/poopdetector.git
	branch = shitspotter
[submodule "tpl/poop_models"]
	path = tpl/poop_models
	url = https://github.com/Erotemic/poop_models.git
[submodule "tpl/scatspotter_app"]
	path = tpl/scatspotter_app
	url = https://github.com/Erotemic/scatspotter_app.git
